@import '@styles/theme.scss';
.flex-view__ {
  &default {
    background-color: $bk-color;
  }

  &neumorphism {
    box-shadow: $shadow;
    border-radius: 50px;
  }

  &inset {
    box-shadow: $shadow-inset;
  }

  &inset-active:active {
    box-shadow: $shadow-inset;
  }
}
