@import '@/styles/theme.scss';

.range-condition__threshold-input {
  border: none;
  width: 200px;
  text-align: center;
  border-width: 0;
  line-height: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
}
