@import '@/styles/theme.scss';

$width: 160px;
$height: 80px;

// $left-border-width: 2px 0 2px 2px;
// $right-border-width: 2px 2px 2px 0px;

.range-condition__ {
  &container {
  }
}

.range-condition__threshold-input {
  border: none;
  width: 200px;
  text-align: center;
  border-width: 0;
  line-height: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
}

.edit-threshold__ {
  &container {
    align-items: center;
  }

  &button {
    width: $width;
    height: $height;
    color: $grey;
    box-shadow: none;
    line-height: $height;
  }

  &no-limit-active {
    border: none;
    box-shadow: $shadow-inset;
    background: $concave-bk;
    // border-width: 2px;
  }

  &input-input {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: $height;
    text-align: center;
    border: none;
    background-color: transparent;
  }
  &input-input::after {
    border: none;
  }

  &input-container {
    width: $width;
    border-radius: $width/2;

    height: $height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &input-container-error {
    animation: twinking;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    animation-direction: alternate;
  }

  @keyframes twinking {
    from {
      background-color: white;
    }
    to {
      background-color: #ef9a9a;
    }
  }

  // &input-container-right {
  //   border-color: $primary-color;
  //   // border-width: 2px;
  //   border-style: solid;
  //   width: $width;
  //   height: $height;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   background-color: white;
  // }
}
