@import '@/styles/theme.scss';

.sortable-header__ {
  &title {
    font-size: 32px;
    color: black;
  }
  &title-active {
    color: $primary-color;
  }

  &icon {
    width: 36px;
    height: 25px;
    object-fit: contain;
  }

  &container {
    padding: 15px 0;
  }
}

.apartment-card__ {
  &container {
    padding: 10px 0;
    border: 0px solid $border-color;
    border-bottom-width: 1px;
  }

  &container-selected {
    background-color: $primary-color;
  }

  &text {
    font-size: 34px;
  }

  &text-selected {
    color: white;
  }
}
