@import '@/styles/theme.scss';

.mbutton {
  // height: 70px;
  margin: 0;
  // line-height: 70px;
  font-size: 36px;
  transition: font-size 0.2s ease-out;

  &-default {
    border-radius: 50px !important;
    // border-color: $primary-color;
    border: none !important;
    color: $text-color;
    background: $raised-bk;
    box-shadow: $shadow;
  }

  &-default:active {
    box-shadow: $shadow-inset;
    background: $raised-bk;
    font-size: 0.9 * 36px;
  }

  &-primary {
    // background-color: $primary-color;
    // color: white !important;
    border: none !important;
    // box-shadow: none !important;

    outline: none;
    color: $text-color-white !important;
    border-radius: 50px !important;
    background: linear-gradient(145deg, #ffe87f, #e6c36b);
    box-shadow: 16px 16px 32px #c4a75c, -16px -16px 32px #ffff92;
  }
  &-primary:active {
    background: #ffd977;
    box-shadow: inset 16px 16px 32px #c4a75c, inset -16px -16px 32px #ffff92;
    font-size: 0.9 * 36px;
  }

  &-danger {
    background-color: $danger-color;
    color: white;
  }

  &-disabled {
    background: #fae3aa;
    color: white;
    box-shadow: inset 16px 16px 32px #c4a75c, inset -16px -16px 32px #ffff92;
  }
}

.mbutton::after {
  border: none;
}
