@import '@/styles/theme.scss';

.mbutton {
  height: 70px;
  margin: 0;
  line-height: 70px;
  font-size: 28px;

  &-default {
    border-radius: $border-radius;
    border-color: $primary-color;
    border-width: 2px;
    border-style: solid;
    color: $primary-color;
    background-color: white;
  }

  &-primary {
    // background-color: $primary-color;
    // color: white !important;
    border: none !important;
    // box-shadow: none !important;

    outline: none;
    color: #999 !important;
    background: linear-gradient(135deg, rgba(230, 230, 230, 1) 0%, rgba(246, 246, 246, 1) 100%);
    box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1), 4px 4px 10px -8px rgba(0, 0, 0, 0.3);
  }
  &-primary:active {
    box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1) inset,
      4px 4px 10px -8px rgba(0, 0, 0, 0.3) inset;
  }

  &-danger {
    background-color: $danger-color;
    color: white;
  }
}

.mbutton::after {
  border: none;
}
