@import '@/styles/theme.scss';

.apt-list__ {
  &container {
    margin: 30px 30px;
    height: 40vh;
    background-color: white;
    display: flex;
    flex: 1;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.3);
  }

  &card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: $border-color;
    height: 60px;
    margin: 0 10px;
    justify-content: space-evenly;

    &-focused {
      background-color: $primary-color;
      transition: ease-in 0.5s;
    }
  }

  &card-text {
    font-size: 28px;
  }
}
