@import '@/styles/theme.scss';

.user-info__ {
  &container {
    margin: 30px;
    padding: 30px;
    // background-color: var(--bk-color);
    border-radius: 16px;
    box-shadow: $shadow;
    justify-content: space-between;
  }

  &message-button {
    height: 90px;
    border-radius: 45px;
  }
}
