.target-info__ {
  &map {
    width: 100vw;
    height: 400px;
  }

  &title {
    font-size: 48px;
    color: black;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  &title-long {
    font-size: 36px;
  }

  &container {
    margin: 30px 0;
  }
}
