@import '@/styles/theme.scss';

.search__ {
  &input {
    box-shadow: $shadow-inset;
    border-radius: 50px;
    margin: 0 20px;
    margin-top: 30px;
    height: 100px;
  }

  &search-result {
  }

  &search-result-container {
    height: calc(100vh-100px);
    display: flex;
    flex-direction: column;
  }

  &search-placeholder {
    align-self: center;
    margin-top: 30px;
    font-size: 34px;
  }
}
