@import '@/styles/theme.scss';

.computed-info__ {
  &container {
  }

  &title {
    margin-left: 20px;
    margin-bottom: 20px;
    color: black;
  }
  &desc {
    font-size: 22px;
    color: $grey;
    margin-left: 30px;
  }
}

.unit__ {
  &content {
    font-size: 40px;
    color: black;
  }

  &title {
    font-size: 24px;
  }

  &unit {
    font-size: 30px;
    color: black;
    margin-left: 6px;
  }
}
