$primary-color: #ffd977;

$primary-color300: #ffe082;

$border-radius: 50px;

$border-color: #90a6ae;

$grey: #9e9e9e;

$light-grey-bk: #eee;

$danger-color: #ff5252;

// $shadow: 1px 4px 20px 2px rgba(0, 0, 0, 0.3);
$shadow: 18px 18px 30px rgba(0, 0, 0, 0.1), -18px -18px 30px rgba(255, 255, 255, 1);

$shadow-inset: inset 16px 16px 25px rgba(0, 0, 0, 0.1),
  inset -18px -18px 30px rgba(255, 255, 255, 0.8);

$text-color: #999;

$text-color-white: rgb(250, 250, 250);

$margin: 30px;

$title-1: 68px;

$bk-color: #eee;

$raised-bk: linear-gradient(145deg, #ffffff, #d6d6d6);

$concave-bk: linear-gradient(145deg, #d6d6d6, #ffffff);

:root {
  --bk-color: #eee;
  --text-color: #999;
}
