@import '@styles/theme.scss';
.text-bar__ {
  &container {
    justify-content: space-between;
    padding: 5px 40px;
    // border: 0 solid $border-color;
    // border-bottom-width: 1px;
    align-items: center;
    width: auto;
  }

  &title {
    color: black;
    font-size: 34px;
    font-weight: 300;
  }

  &content {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 300;
  }
}
