@import '@/styles/theme.scss';

.choose-condition__ {
  &radio {
    // box-shadow: $shadow-inset !important;
    // border: none !important;
  }

  &container {
    padding: 30px 30px;
    margin: 30px 0;
  }

  &button-confirm {
    background: none;
    background-color: $primary-color;
    width: 200px;
    color: white;
  }
}
