@import '@/styles/theme.scss';

.user-subscription__ {
  &container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &my-subs {
    font-size: $title-1;
    font-weight: bold;
    color: black;
    margin-bottom: $margin;
    margin-left: $margin;
    margin-right: auto;
  }

  &placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 40px;

    border-radius: 50px;
  }
  &placeholder-text {
    font-size: 36px;
  }
}

.subscription-card__ {
  &wrapper {
    margin: 40px $margin;
    border-radius: 40px;
    box-shadow: $shadow;
  }
  &wrapper:active {
    box-shadow: none;
  }
  &container {
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &address {
    font-size: 50px;
    color: black;
  }
  &address-long {
    font-size: 38px;
  }

  &left-text {
    font-size: 36px;
  }

  &right-text {
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-right: 60px;
  }

  &more-button {
    // position: absolute;
    // top: 30px;
    // right: 30px;
    object-fit: contain;
    width: 50px;
    height: 50px;
    margin-right: $margin;
  }

  &more-button:before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
  }

  &unread-container {
    position: absolute;
    right: 80px;
    rotate: -20deg;
  }

  &unread-text {
    color: $danger-color;
    font-size: 38px;
    font-weight: bold;
  }
}
