@import '@/styles/theme.scss';

.records__ {
  &container {
  }
}

.record-card__ {
  &title {
    color: black;
    font-weight: 500;
    font-size: 38px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  &container {
    margin: 15px 0px;
    padding-top: 20px;
  }
  &container-viewed {
  }

  &tag {
    border-color: $primary-color;
    color: $primary-color;
  }
}
