.edit-radius__ {
  &container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &title {
    font-size: 40px;
    color: black;
  }
  &input {
    font-size: 40px;
    border-width: 2px;
    border-color: black;
  }
}
