@import '@/styles/theme.scss';
.search-result__ {
  &container {
    margin: 20px 30px;
    padding: 10px 20px;
    padding-left: 50px;
  }

  &district {
    color: black;
    font-size: 32px;
  }

  &dot {
    margin: 0 5px;
    font-weight: 900;
    font-size: 32px;
    color: black;
  }
  &name {
    color: black;
    font-size: 32px;
  }

  &address {
    margin-top: 10px;
    font-size: 26px;
  }
}
