@import '@/styles/theme.scss';

.apartment-info__ {
  &title {
    color: black;
  }

  &title-long {
    font-size: 32px;
  }

  &tag {
    color: $primary-color;
    border-color: $primary-color;
  }
}
