// @import '~taro-ui/dist/style/index.scss';

.row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
