@import '@/styles/theme.scss';

.location-console__ {
  &container {
    position: absolute;
    right: 0px;
    bottom: 15vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: transparent;
  }

  &container-list-open {
    width: 100vw;
    overflow: visible;
  }

  &icon-wrapper {
    display: flex;
    flex-direction: column;
  }

  &icon-container {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: $shadow;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 10px;
  }

  &icon {
    object-fit: contain;
    width: 70px;
    height: 70px;
  }

  &icon-primary {
    color: white;
    font-weight: bold;
    background-color: $primary-color;
  }

  &icon-animation {
    animation: icon-ani infinite 0.8s linear;
    animation-direction: alternate-reverse;
  }
}

@keyframes icon-ani {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
