.detail-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .computed-info-container {
    background-color: rgb(207, 227, 177);
    color: white;
  }

  .mask-container {
    background-color: transparent;
    flex: 1;
  }
}

.map-container {
  filter: blur(20px);
}

.map-pin {
  position: absolute;
  top: 50%;
  left: 50vw;
  margin-top: -80px;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  object-fit: contain;
}
